.filter {
  display: flex;
  justify-content: space-around;
}

.text-filters {
  color: aquamarine;
  font-size: 1.3em;
}

.title-filters {
  color: black;
  font-size: 1.4em;
}

.logo-filter {
  width: 39px;
}