.link-card {
  display: flex;
  justify-content: center;

}

.content-card {
  padding-left: 0.9em;
}

.content-card h4 {
  padding-top: 0.8em;
}

.card {
  width: 310px;
  height: 460px;

  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  margin: 1em;
  transition: all .3s;
}

.card2 {
  width: 310px;
  height: 460px;
  background-color: #598392;
  border-radius: 1em;
  border: 1px solid white;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}