.detail-content {
  height: 100%;
  width: 60em;
  background-color: #283c43;
  box-shadow: 5px 5px 5px 5px rgba(177, 63, 63, 0.404);
  border-radius: 1em;
  margin: 2em;
  color: white;
}


.detail {
  display: flex;
  justify-content: center;
}

.title-image {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title-detail {
  font-size: 1.5em;

}

.detail-text {
  padding: 1em;
}

/* 
.nop::after {
  background-color: wheat;
} */