.content-pagination {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.button-pagination {
  margin: 0.5em;
  width: 3em;
  height: 2em;
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  cursor: pointer;
  border-radius: 0.5em;
  color: rgb(35, 23, 90);
}

.button-pagination:hover {
  border-color: green;
  outline: 0;
}